{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "plugin:jest/recommended"],
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off"
  },
  "overrides": []
}
